html, body {
    font-family: Lucida Sans;
    margin: 0;
    padding: 0px;
  }
  
  .header {
    font-family: Sofia;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 200px;
    padding-bottom: 20px;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  
  .navbar {
    font-size: 40px;
    text-align: center;
    background: #ffffff;
    padding-top: 20px;
  }
  
  a.button-style {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
  }
  
  a.button-style:hover {
    color:#ffffff;
    background-color:#000000;
  }
  
  .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
  }
  
  @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #4b4b4b;
  }
  
  .container {
    color: #ffffff;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
  }